<md-toolbar class="app-filters">
  <div class="app-filter-control">
    <md-select #site placeholder="Site" (change)="filterChanged('SITE', site.selected.value)">
      <md-option *ngFor="let site of sites | async" [value]="site">{{site}}</md-option>
    </md-select>
  </div>

  <div class="app-filter-control">
    <md-select #market placeholder="Market" (change)="filterChanged('MARKET', market.selected.value)">
      <md-option *ngFor="let market of markets | async" [value]="market">{{market}}</md-option>
    </md-select>
  </div>

  <div class="app-filter-control">
    <md-select #device placeholder="Device" (change)="filterChanged('DEVICE', device.selected.value)">
      <md-option *ngFor="let device of devices | async" [value]="device">{{device}}</md-option>
    </md-select>
  </div>

  <div class="app-filter-control">
    <md-select #startDate placeholder="Start date" (change)="filterChanged('START_DATE', startDate.selected.value)">
      <md-option *ngFor="let date of dates | async" [value]="date">{{date}}</md-option>
    </md-select>
  </div>

  <div class="app-filter-control">
    <md-select #endDate placeholder="End date" (change)="filterChanged('END_DATE', endDate.selected.value)">
      <md-option *ngFor="let date of dates | async" [value]="date">{{date}}</md-option>
    </md-select>
  </div>

  <md-toolbar-row>
    <div class="app-filter-control" [style.width]="200" [style.fontSize]="16">
      <md-input-container class="app-filter-control-keywords">
        <input mdInput placeholder="Keywords" [mdAutocomplete]="auto" [formControl]="keywordCtrl">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let keyword of filteredKeywords | async" [value]="keyword">
          {{ keyword }}
        </md-option>
      </md-autocomplete>
    </div>

    <div class="app-filter-control">
      <button md-raised-button color="primary" (click)="getRankings()" [disabled]="disableRankingsActions()">Get Rankings</button>
    </div>    
    <span class="spacer"></span>
    <app-uploader></app-uploader>
  </md-toolbar-row>
</md-toolbar>